.main{
  background-color: rgb(30,37,47);
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;

}
.HeaderMobile{
  display: none;
}
.buttonContainer{
  padding: 1rem;
}

.firstPart{
  border-right: .05rem solid rgba(255, 255, 255, 0.29);
  float: left;
  width: 25%;
  height: 100vh;
}

.firstPart>img{
  transform: rotate(180deg);
  margin-left: 2rem;
  margin-top: 2rem;
  display: block;
  width: 3rem;
}
.secondPart{
  overflow-x: hidden;
  overflow-y: scroll;
  float: left;
  width: 50%;
  height: 100vh;
  border-right: .05rem solid rgba(255, 255, 255, 0.29);


}

.secondPart {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.secondPart::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.thirdPart{
  float: right;
  width: 25%;
  height: 100vh;


}

.infoContainer{
  
  position: absolute;
  bottom: 1rem;
}

.infoContainer>figure{
  color: white;
  width: 12rem;
  gap: 1rem;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.infoContainer>figure>img{
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}

.infoContainer>figure>figcaption>p{
  color: rgba(255, 255, 255, 0.366);
  display: block;
  margin-top: -1rem;
}
.infoContainer>button:hover{
  transition: all .3s ease-in-out;
  background-color: rgba(255, 255, 255, 1);
  color: rgb(30,37,47);
}

.infoContainer>button{
  cursor: pointer;
  background-color: transparent;
  border: .1rem solid white;
  color: white;
  margin: 0 auto;
  display: block;
  border-radius: 1rem;
  padding: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;

}

.writeTwitter{
  display: block;
  position: sticky;
  top: 0rem;
  background-color: rgb(30,37,47);
  margin: 0 auto;
  z-index: 3;
  width: 100%;
  height: 12rem;
  border-bottom: .1rem solid rgba(255, 255, 255, 0.147);

}
.writeTwitter>h1{
  display: block;
  margin-left: 1rem;
  color: white;
}
.writeTwitter>input{
  font-size: 1.3rem;
  color: white;
  display: block;
  margin: 0 auto;
  border: none;
  border-bottom: .1rem solid rgba(255, 255, 255, 0.157);
  width: 90%;
  padding: 1rem;
  background: transparent;
}
.thirdPart>h1{

  color: white;
  margin-left: 1rem;
}
.writeTwitter>ul{
  top: 58%;
  position: absolute;
  color: white;
  align-items: center;
  background-color: rgba(255, 0, 0, 0);
  padding: 1rem;
  width: 10rem;
  /* margin: 0 34rem; */
  display: grid;
  list-style: none;
  grid-template-columns: repeat(2,1fr);
  right: 1rem;
}
.writeTwitter>ul>li>button{
  color: white;
  transition: all .3s;
  cursor: pointer;
  background-color: rgb(100,153,236);
  border-radius: 1rem;
  padding: .5rem;
  padding-left: 1rem;
  border: none;
  padding-right: 1rem;
}
.writeTwitter>ul>li>button:hover{
  transition: all .3s;
  background-color: rgb(49, 74, 115);

}
.containerTrends {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.containerTrends::-webkit-scrollbar { 
  display: none;
}


.containerTrends{
  height: 50vh;
  overflow-y: scroll;
  margin:0 auto;
  color: white;
  list-style: none;

  padding: 0;
  display: block;
  width: 90%;
  border-radius: 1rem;
  background-color: rgba(116, 116, 116, 0.199);
}
.containerTrends>li{
  padding: 1rem;
  cursor: pointer;
  display: block;

  width: 100%;
  font-weight: 800;
}
.containerTrends>li:hover{
  border-radius: 1rem;
  display: block;
  width: 100%;
  background-color: rgba(116, 116, 116, 0.199);
}
.like{
  margin: 1rem;
}
.erase{
  display: none;
}
.like,.erase{
  cursor: pointer;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}


.ListTweet{
  display: block;
  height: auto;
  color: white;
  width: 100%;
  margin: 0 auto;
  border-bottom: .1rem solid rgba(255, 255, 255, 0.108);

}
.ListTweet:last-child{
  margin: 0 auto 5rem;
}

.ListTweet>ul>li>img{
  background-color: red;
  display: block;
  width: 5rem;
  clip-path: circle(40%);
}

.blackOpacity{
  top: 0;
  left: 0;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.388);

}

.MainContainerTweetFH{

  opacity: 0;
  transition: all .3s ease-in-out;
  visibility: hidden;
  top: 50%;
  border-radius: 1rem;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  width: 90%;
  height: 10vh;
  background-color: rgb(30,37,47);
  z-index: 13;

}
.MainContainerTweetFH>h1{
  color: white;
  margin-left: 1rem;
}
.MainContainerTweetFH>span{
  cursor: pointer;
  position: absolute;
  font-size: 3rem;
  top: 1rem;
  right: 1rem;
  color: white;
  margin-left: 1rem;
}
.ListTweet>ul{
  cursor: pointer;
  margin-left: -2rem;
  align-items: center;
  width: 23rem;
  gap: 0rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  color: white;

  list-style: none;
}

.ListTweet>ul>li:nth-child(2){
  margin-left: -4rem;

  font-size: 1rem;
}
.ListTweet>ul>li>span{
  font-weight: 800;
}
.ListTweet>ul>li{
  cursor: pointer;
  font-weight: 300;
}

.ListTweet>p{
  overflow-y: hidden;
  word-wrap: break-word;
  width: 100%;
  break-inside: avoid;
  display: block;

  padding: .5rem;
  font-size: 1.3rem;
  /* margin-left: 3rem; */
  

}
.HeaderMobile,.menuMobile,.containerTrendsMobile{
  display: none;
}


@media screen and (max-width:1000px) {
  .MainContainerTweetFH>span{
    cursor: pointer;
    position: absolute;
    font-size: 2rem;
    top: 3.5rem;
    right: 1rem;
    color: white;
    margin-left: 1rem;
  }
  .MainContainerTweetFH>div{
    display: block;
    width: 100%;
  }
  .MainContainerTweetFH>h1{
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 3rem;
  }
  .MainContainerTweetFH{

    opacity: 0;
    transition: all .3s ease-in-out;
    visibility: hidden;
    top: 50%;
    border-radius: 1rem;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100%;
    height:80vh;
    background-color: rgb(30,37,47);
    z-index: 43;
  
  }

.writeTwitter{
  display: block;
  position: relative;
  top: 0rem;
  background-color: rgb(30,37,47);
  margin: 0 auto;
  z-index: 3;
  width: 100%;
  height: 12rem;
  border-bottom: .1rem solid rgba(255, 255, 255, 0.112);

}

.HeaderMobile>span{
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: block;
  margin: 0 auto;
  width: 3rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
.menuMobile{

  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  position: fixed;
  top: 4.25rem;
  left:30rem;
  width: 100%;
  height: 100vh;
  background-color: rgb(30,37,47);
  z-index: 12;
}

.containerTrendsMobile{
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  position: fixed;
  top: 0;
  left:30rem;
  width: 100%;
  height: 100vh;
  background-color: rgb(30,37,47);
  z-index: 15;
  color: white;

}

.containerTrendsMobile>button{
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  font-size: 2rem;
  color: white;
  display: block;
  border: none;
  background-color: transparent;

}
.containerTrendsMobile>h1{
  margin-left: 1rem;
  margin-top: 2.5rem;
}


.menuMobile>ul{


  display: block;
  margin: 0 auto;
  width: 100%;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}
.menuMobile>ul>li{
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
}
.menuMobile>ul>li>span{
  margin-right: 1rem;
}

  .HeaderMobile{
    z-index: 7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:5rem;
    background-color: rgb(30,37,47);
    border-bottom: .1rem solid rgba(255, 255, 255, 0.112);
    display: block;
  }
.menuMobile>div{
  padding: 0;
  margin: 0;
  


}
.menuMobile>div>h1{
  color: white;
  margin-left: 1rem;
}

.menuMobile>div>p{
  color: rgba(243, 243, 243, 0.439);
  margin-left: 1rem;
  margin-top: -1rem;
  margin-bottom: 3rem;

}
  .HeaderMobile>img{
    transition: all .3s;
    transform: rotate(90deg);
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: block;
    margin: 0 auto;
    width: 3rem;
  }
  .firstPart{
   display: none;
  }

  .secondPart{
    z-index: 0;
    overflow-y: scroll;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    height: 100vh;
  }
  .thirdPart{
    display: none;
  }
  

  .secondPart>*{
    font-size: 1rem;
  }
}

.containerTrends>li>a{
  text-decoration: none;
  color: white;
}

.nbrTweet{
  display: block;
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.335);
}

.containerTweetFromH{

  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  display: block;
  margin: 0 auto;
  width: 90%;
  overflow-y: scroll;
  height: 90%;
}

.containerTweetFromH::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}


.counterLike{
  margin: 1rem;
}



@media (orientation: landscape){

  .menuMobile{
    overflow-y: scroll;
  }
}